[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
snakemake = "*"
pyaml = "*"
xlrd = "*"
ipykernel = "*"
scipy = "*"
statsmodels = "*"
matplotlib = "*"
jupyterlab = "*"
seaborn = "*"
pyyaml = ">=4.2b1"

[dev-packages]
neovim = "*"

[pipenv]
allow_prereleases = true
